.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.5s ease;

    &__img {
        margin-top: 20px;
        width: 600px;
    }

    &__link-wrapper {
        margin: 20px 0;
    }

    &__link {
        font-weight: 600;
        font-size: 24px;
    }

    &--active {
        background-color: aqua;
    }
}